* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 11px 0 12px 16px;
  background: #D9D9D9;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.2s;
}

/* Поля ввода - состояние ошибки */
.form-group input.error {
  border: 2px solid;
  border-color: #FF4444;
  background: #FFF0F0;
}

/* Сообщения об ошибках */
.error-message {
  color: #d90707;
  margin-top: 4px;
  margin-bottom: 0;
  text-align: left;
  background: rgba(255, 142, 142, 0.7);
  padding: 4px 10px;
  border-radius: 6px;
  border-left: 3px solid #d90707;
  width: 100%;
  backdrop-filter: blur(4px);
  opacity: 1;
}

.error-message:empty {
  display: none;
}